services:
  userdb:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "Walid@1235"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - userdb-data:/var/opt/mssql
    networks:
      - appnet

  catalogdb:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "Walid@1235"
      ACCEPT_EULA: "Y"
    ports:
      - "1434:1433"
    volumes:
      - catalogdb-data:/var/opt/mssql
    networks:
      - appnet

  orderdb:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "Walid@1235"
      ACCEPT_EULA: "Y"
    ports:
      - "1435:1433"
    volumes:
      - orderdb-data:/var/opt/mssql
    networks:
      - appnet

networks:
  appnet:

volumes:
  userdb-data:
  catalogdb-data:
  orderdb-data:
