services:
  # ===== Auth Service =====
  auth:
    build:
      context: ./src/HealthStack.Auth.Api
      dockerfile: Dockerfile
    ports:
      - "5100:8080"
    environment:
      ConnectionStrings__Default: "Server=userdb,1433;Database=UserDB;User Id=sa;Password=Walid@1235;TrustServerCertificate=True;"
    depends_on:
      - userdb
    networks:
      - appnet

  # Auth DB
  userdb:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "Walid@1235"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - userdb-data:/var/opt/mssql
    networks:
      - appnet
    healthcheck:
      test: ["CMD-SHELL", "echo > /dev/tcp/localhost/1433"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ===== Catalog Service =====
  catalog:
    build:
      context: ./src/HealthStack.Catalog.Api
      dockerfile: Dockerfile
    ports:
      - "5200:8080"
    environment:
      ConnectionStrings__Default: "Server=catalogdb,1433;Database=ProductDB;User Id=sa;Password=Walid@1235;TrustServerCertificate=True;"
    depends_on:
      - catalogdb
    networks:
      - appnet

  # Catalog DB
  catalogdb:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "Walid@1235"
      ACCEPT_EULA: "Y"
    ports:
      - "1434:1433"
    volumes:
      - catalogdb-data:/var/opt/mssql
    networks:
      - appnet
    healthcheck:
      test: ["CMD-SHELL", "echo > /dev/tcp/localhost/1433"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ===== Order Service =====
  order:
    build:
      context: ./src/HealthStack.Order.Api
      dockerfile: Dockerfile
    ports:
      - "5300:8080"
    environment:
      ConnectionStrings__Default: "Server=orderdb,1433;Database=OrderDB;User Id=sa;Password=Walid@1235;TrustServerCertificate=True;"
      RabbitMQ__HostName: rabbitmq
      RabbitMQ__UserName: guest
      RabbitMQ__Password: guest
      RabbitMQ__ExchangeName: order.exchange
    depends_on:
      - orderdb
      - rabbitmq
    networks:
      - appnet

  # Order DB
  orderdb:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "Walid@1235"
      ACCEPT_EULA: "Y"
    ports:
      - "1435:1433"
    volumes:
      - orderdb-data:/var/opt/mssql
    networks:
      - appnet
    healthcheck:
      test: ["CMD-SHELL", "echo > /dev/tcp/localhost/1433"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ===== Notification Worker =====
  notification:
    build:
      context: ./src/HealthStack.Notification.Worker
      dockerfile: Dockerfile
    environment:
      RabbitMQ__HostName: rabbitmq
      RabbitMQ__UserName: guest
      RabbitMQ__Password: guest
      RabbitMQ__ExchangeName: order.exchange
    depends_on:
      - rabbitmq
    networks:
      - appnet

  # ===== RabbitMQ =====
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672" # AMQP
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - appnet
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

# ===== Networks =====
networks:
  appnet:

# ===== Volumes =====
volumes:
  userdb-data:
  catalogdb-data:
  orderdb-data:
